<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <!-- Custom styles for this template -->
    <% include ./partial/head %>
  </head>
  <body>
    <% include ./partial/theme-changer %> <% include ./partial/header %>

    <main>
      <h1 class="mt-5">Blank page</h1>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
      <!-- /.container -->

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          &copy; 2017–2023 Company, Inc. &middot;
          <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        </p>
      </footer>
    </main>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
